[submodule "wordpress"]
	path = wordpress
	url = https://github.com/markjaquith/WordPress.git
[submodule "plugins/akismet"]
	path = plugins/akismet
	url = https://github.com/git-mirror/wordpress-akismet.git
