[submodule "wordpress"]
	path = wordpress
    url = https://github.com/markjaquith/WordPress.git
    ignore = untracked
[submodule "plugins/akismet"]
	path = plugins/akismet
    url = https://github.com/git-mirror/wordpress-akismet.git
    ignore = untracked
[submodule "tools"]
	path = tools
	url = https://github.com/ryanmark/wp-project-tools.git
    ignore = untracked
